{% extends "../base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
   
 {% for message in messages%}
     <p id="message" class="p-2  m-2 bg-warning">
                                        {{message}}</p>
                 {%endfor%}
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change col-md-6 mx-auto">
     <h1>{% trans "Change Password" %}</h1>
        {% csrf_token %}
         <div class="form-edit">
        {{ form.as_p }}
        </div>
        <button type="submit" name="action" class="btn btn-primary">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form></div>
{% endblock %}