
{% extends "../base.html" %}


{% load account %}



{% block content %}
{%if apply %}
 <p class="text-center">You are already applied to be seller </p>
{%else%}
<div class="container">
 {% for message in messages%}
     <p id="message" class="p-2  m-2 bg-warning">
                                        {{message}}</p>
 {%endfor%}
   <div class="col-md-6 m-auto">
  

    <p>To apply to be a seller you have to submit / allowed file are pdf  and max file size is 2mb </p>
 

    
    <form method="POST" action="" class="" enctype="multipart/form-data">
       
        {% csrf_token %}
        
        {{form}}
      
        <div class="g-recaptcha" data-sitekey="6LcOiygdAAAAACbF3nkE3_JavWWOlSWXIajAUqXI">
        </div>
        <button class="btn btn-primary" type="submit" value="update">Apply</button>
    </form>

    
</div></div>{%endif%}
{% endblock %}